@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins|Ubuntu&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

@font-face {
    font-family: IranYekan;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/IranYekan/eot/iranyekanwebregular(fanum).eot');
    src: url('fonts/IranYekan/eot/iranyekanwebregular(fanum).eot?#iefix') format('embedded-opentype'),
        url('fonts/IranYekan/woff2/iranyekanwebregular(fanum).woff2') format('woff2'),
        url('fonts/IranYekan/woff/iranyekanwebregular(fanum).woff') format('woff'),
        url('fonts/IranYekan/ttf/iranyekanwebregular(fanum).ttf') format('truetype');
}

@font-face {
    font-family: IranYekan;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/IranYekan/eot/iranyekanwebbold(fanum).eot');
    src: url('fonts/IranYekan/eot/iranyekanwebbold(fanum).eot?#iefix') format('embedded-opentype'),
        url('fonts/IranYekan/woff2/iranyekanwebbold(fanum).woff2') format('woff2'),
        url('fonts/IranYekan/woff/iranyekanwebbold(fanum).woff') format('woff'),
        url('fonts/IranYekan/ttf/iranyekanwebbold(fanum).ttf') format('truetype');
}


:root {
    --bgLang: rgba(153, 151, 150, 0.6);
    --bgLang-hover: rgba(0, 0, 0, 0.3);
    --bg: rgba(255, 255, 255, 0.6);
    --title-text: #212529;
    --des-text: black;
    --shadow: rgba(0, 0, 0, 0.5);
    --shadow-hover: cyan; 
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

a{
  cursor: pointer;
}

.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(192, 218, 219);
    color: black;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    border-bottom: darkgrey 1px solid;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin-right: 0px;
    padding-left: 0px;

}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem 1rem 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-links li:hover {
    background-color: var(--bgLang-hover);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: blueviolet;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
section.section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 100rem;
  }
  section.section .section-content {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    section.section {
      min-height: 100vh;
    }
  }
  @media (min-width: 992px) {
    section.section {
      padding-left: 3rem;
      padding-right: 3rem;
      padding-top: 6.5rem;
      padding-bottom: 5rem;
    }
  }

  .btn-lang {
    margin-top: 2vh;
    font-size: calc(13px + 0.3vw);
    height: calc(1.5vh + 1.5vw);
    min-height: calc(25px);
    max-height: calc(32px);
    width: calc(20vw);
    max-width: calc(80px);
    background-color: var(--bgLang);
    color: black;
    border: 0px solid black;
    transition: all 0.2s ease-in-out;
    outline: none;

}

.btn-lang:nth-child(1) {
    border-radius: 5px 0px 0px 5px;
    /* border-width: 1px 0px 1px 1px; */
}

.btn-lang:nth-child(2) {
    border-radius: 0px 5px 5px 0px;
    /* border-width: 1px 1px 1px 0px; */
}

.btn-lang:focus {
    background-color: var(--bgLang);
    outline: none;
}

.btn-lang:hover,
.btn-lang:active {
    transition: all 0.2s ease-in-out;
    color: turquoise(255, 255, 255);
    box-shadow: var(--bgLang-hover) 0px -50px 36px -28px inset;
    outline: none;
}

.btn-lang:disabled {
    background-color: tomato;
    cursor: not-allowed;
    opacity: 0.4;
    transition: all 0.2s ease-in-out;
    outline: none;
}
.btn-image {
  width: 38vh;
  height: 24vw;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  align-content: center;
  margin: 0;
  transition: .3s ease-in-out;
  border: 3px solid white;
  box-shadow: 0 0px 3vh 0px var(--shadow);
}

.btn-image:hover {
  transition: .3s ease-in-out;
  box-shadow: 0 0px 3vh 0px var(--shadow-hover);
}

.title {
  font-family: "Comic Sans MS";
  font-weight: bold;
  padding: 10px 0px;
  background-color: var(--bg);
  border-radius: 10px;
  color: var(--title-text);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.705);
  font-size: calc(16px + 0.5vw + 0.5vh);
}

.description {
  font-family: 'Consolas';
  font-size: calc(10px + 0.4vw + 0.3vh);
  padding: 0px 2vw;
  color: var(--des-text);
}

.bg-div {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--bg);
  margin-bottom: 2vh;
  border-radius: 10px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.705);
}

table {
  background-color: var(--bg);
  border-radius: 10px;
  color: var(--des-text);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.705);
  text-align: center;
}

th {
  font-size: calc(8px + 0.4vw + 0.3vh);
  font-weight: bold;
  font-family: 'Consolas';
}

td {
  font-size: calc(6px + 0.4vw + 0.3vh);
  font-family: 'Arial';

}


.bg {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.658) 0 0 5em;
  text-align: center;
}


a {
  font-weight: bold;
  color: rgb(8, 12, 66);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: all 0.4s ease-in-out;
}

a:hover,
a:focus {
  color: rgb(8, 12, 66);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

table {
  background-color: var(--bg);
  border-radius: 10px;
  color: var(--des-text);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.705);
  text-align: center;
}

th {
  font-size: calc(8px + 0.4vw + 0.3vh);
  font-weight: bold;
  font-family: 'Consolas';
}

td {
  font-size: calc(6px + 0.4vw + 0.3vh);
  font-family: 'Arial';

}
.bg-imp {
  margin: 1.5%;
  background-color: rgba(212, 75, 75, 0.6);
  color: rgb(85, 8, 8);
  border-radius: 10px;
  border: 1px solid rgb(85, 8, 8);
  box-shadow: rgba(0, 0, 0, 0.658) 0 0 5em;
  text-align: left;
  padding: 1% 10%;
  font-size: calc(10px + 0.4vw + 0.3vh);
  font-weight: bold;
}

.img {
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.658) 0 0 5em;
}

.img img {
  border-radius: 15px;
}