@import url("base.css");

:root {
  /*text and icon*/
  --color1: #117272;
  /*border*/
  --color2: #ddd;
  /*background when hover*/
  --color3: #fbfbfba6;
  /*info color*/
  --color4: rgb(100, 100, 100);
}

.box-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #eee;
  border-radius: 10px;
  transition: all .35s ease;
  max-height: 365px;
  min-height: 365px;
}

.card:hover {
  border-color: var(--color2);
  box-shadow: #11727280 0 0 5em;
}

.card:hover figure {
  transform: scale(0.6) translateY(-1.4em);
}

.card:hover .card--title {
  transform: translateY(-5em);
}

.card:hover .card--desc {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.4s;
}

.card:hover .card--desc p {
  opacity: 1;
  transition: all 1s ease;
}

.card:hover .card--desc hr {
  transition-delay: 0.1s;
  transform: scale(1, 1);

}

.card:hover .card--social li {
  opacity: 1;
  transition-duration: 0.3s;
  transition-delay: 0.1s;
  transform: translate(0, 0) rotate(0deg);
}

.card:hover .card--btn a {
  background: var(--color3);
  border-color: var(--color2);
}

.card:hover .card--btn .moreinfo {
  opacity: 0;
  transform: translateY(-50px);
}

.card:hover .card--btn .fullprof {
  opacity: 1;
  transform: translateY(0);
}

.card figure {
  position: relative;
  z-index: 299;
  width: 10em;
  height: 10em;
  margin: 0 auto 1em;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #eee;
  padding: 4px;
  transform-origin: center top;
  transition: all 0.4s ease-out;
}

.card figure img {
  width: 100%;
  display: block;
  border-radius: 50%;
}

.card-liner {
  position: relative;
  overflow: hidden;
  padding: 2em;
}

.card--title {
  text-align: center;
  line-height: 1;
  transition: all 0.4s ease-out;
}

.card--title h3 {
  margin: 0 0 .4em;
  font-size: 1.1em;
}

.card--title p {
  margin: 0 0 5em;
  color: var(--color1);
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
}

.card--desc {
  position: absolute;
  top: 53.5%;
  left: 9%;
  width: 82%;
  text-align: center;
  padding-bottom: 0.8em;
  visibility: hidden;
  opacity: 0;
  transform: translateY(3em);
  transition: all 0.02s ease-out;
}

.card--desc p {
  margin: 0 0 .5em;
  font-weight: 300;
  opacity: 0;
  transition: all 1s ease;
}

.card--desc p span {
  text-decoration: line-through;
}

.card--desc hr {
  border: none;
  width: 3em;
  margin: 0 auto .75em;
  height: 3px;
  background: var(--color1);
  transform: scale(0, 1);
  transition: all 0.4s ease-out 0.05s;
}

.card--btn {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.card--btn a {
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .8em;
  color: #a5a5a5;
  padding: 1.4em 2em;
  border-top: 0px solid #eee;
  transition: all .4s ease;
  border-radius: 10px;
}

.card--btn a .fullprof {
  display: block;
  opacity: 0;
  color: var(--color1);
  transform: translateY(50px);
  transition: all 0.4s ease-out;
}

.card--btn a .moreinfo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.4em;
  opacity: 1;
  transition: all 0.4s ease-out;
}

.card--btn a .moreinfo i {
  margin-right: 5px;
  color: var(--color4);
}

.card--social {
  position: absolute;
  top: 3em;
  left: 0;
  width: 100%;
}

.card--social ul {
  list-style: none;
  margin: 0;
  padding: 2em;
  position: relative;
}

.card--social li {
  display: block;
  text-align: center;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 0.02s ease-out;
}

.card--social li.github {
  left: 72%;
  transform: translate(-200%, 1em) scale(0.7);
  transition: all 0.4s ease-out;
}

.card--social li.linkedin {
  right: 72%;
  transform: translate(200%, 1em) scale(0.7);
  transition: all 0.4s ease-out;
}

.card--social a {
  line-height: 2.4;
  display: block;
  width: 2.3em;
  height: 2.3em;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: var(--color3);
  color: var(--color1);
  text-decoration: none;
  transition: all .3s ease;
}

.card--social a:hover {
  background: #eee;
}

.cred {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: #fff;
  border-top: 1px solid #eee;
  text-decoration: none;
}

.cred a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: #ccc;
  font-weight: 300;
  font-size: .9em;
}

.cred a i {
  margin-left: 10px;
}